@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --radius: 0.5rem
  }
}

.bgimage{
  background-image:url("../../public/assets/all-images/cars-img/offer-toyota.png");
}

.aboutbg{
  background-image:url("../../public/assets/all-images/cars-img/tesla.jpg");
}

/* 
.aboutbg{
  background-image: url("../../../public/assets/all-images/cars-img/tesla.jpg");
} */